{% extends 'base.html.twig' %}

{% block title %}Inventory{% endblock %}

{% block body %}

<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-16 col-lg-12">
          <h1>Inventory "{{ inventory.title }}"</h1>
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventory.id }}</td>
            </tr>
            <tr>
                <th>items</th>
                <td>{{ inventory.items|length }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ inventory.owner.username }}</td>
            </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ inventory.updatedAt|date('Y-m-d H:i') }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inventory_index') }}" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left"></i>Back to List
    </a>

    <a href="{{ path('app_inventory_items', {'inventoryId': inventory.id}) }}" class="btn btn-outline-dark">
        <i class="fas fa arrow-left"></i>Add Items
    </a>

    <a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left"></i>Edit Inventory
    </a>

          <form method="post" action="{{ path('app_inventory_delete', {'id': inventory.id}) }}"
                onsubmit="return confirm('Are you sure you want to delete this item?');" class="d-inline">
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
              <button type="submit" class="btn btn-outline-dark">
                  <i class="fas fa-trash"></i> Delete
              </button>
          </form>
            </div>
      </div>
</div>

{% endblock %}
