{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.inventories'|trans }}{% endblock %}

{% block body %}
    <h1>Inventory</h1>
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-16 col-lg-12">
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventory.id }}</td>
            </tr>
            <tr>
                <th>items</th>
                <td>{{ inventory.items|length }}</td>
            </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ inventory.updatedAt|date('Y-m-d H:i') }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inventory_index') }}" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left"></i>Back to List
    </a>

    <a href="{{ path('app_inventory_items', {'inventoryId': inventory.id}) }}" class="btn btn-outline-dark">
        <i class="fas fa arrow-left"></i>Add Items
    </a>

    <a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}" class="btn btn-outline-dark">
        <i class="fas fa-arrow-left"></i>Edit Inventory
    </a>

    <a class="btn btn-outline-dark">
        <i class="fas fa-arrow-left"></i>{{ include('inventory/_delete_form.html.twig') }}
    </a>
            </div>
      </div>
</div>

{% endblock %}
