{% extends 'base.html.twig' %}

{% set hide_navbar = true %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4">Registration</h2>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,{
            'row_attr': {'class': 'mb-2'},
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.username,{
            'row_attr': {'class': 'mb-2'},
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            'row_attr': {'class': 'mb-2'},
            'label_attr': {'class': 'form-label'},
            'attr': {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

         <div class="mb-3">
             {{ form_row(registrationForm.registerAsAdmin) }}
         </div>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}

                    <a href="{{ path('connect_github_start') }}" class="btn btn-dark">
                        <i class="fab fa-github"></i> Login with GitHub
                    </a>

                    <div class="text-center">
                        <a href="{{ path('app_login') }}" class="text-decoration-none text-muted small">
                            <i class="fas fa-question-circle me-1"></i>Already have account?
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
