{% extends 'base.html.twig' %}

{% block title %}Create Item for Inventory {% endblock %}

{% block body %}



<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
      <h1>Create new Item</h1>

      {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
      {{ form_end(form)  }}

            <a href="{{ path('app_inventory_items', {'inventoryId': inventory.id}) }}"
               class="btn btn-outline-secondary mt-3">
                <i class="fas fa-arrow-left"></i> Back to Items
            </a>

        </div>
    </div>
  </div>
{% endblock %}
