{% extends 'base.html.twig' %}

{% block title %} Items - {{ inventory.title }} {% endblock %}

{% block body %}
    <div style="padding: 20px;">
        <h1>Items in "{{ inventory.title }}"</h1>
        <a href="{{ path('app_inventory_item_create', {'inventoryId': inventory.id}) }}"
           class="btn btn-primary">
            Add New Item
        {#  <p>Inventory ID: {{ inventory.id }}</p>#}

        {% if items|length > 0 %}
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Created By</th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.createdBy.username|default('Unknown') }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No items</p>
        {% endif %}

        <br>
        <a href="/">Back</a>
    </div>
{% endblock %}
