{% extends 'base.html.twig' %}

{% block title %} Items - {{ inventory.title }} {% endblock %}

{% block body %}
    <div style="padding: 20px;">
        <h1>Items in "{{ inventory.title }}"</h1>
        <a href="{{ path('app_inventory_item_create', {'inventoryId': inventory.id}) }}"
           class="btn btn-primary">
            Add New Item
        {#  <p>Inventory ID: {{ inventory.id }}</p>#}

            {% if items|length > 0 %}
                <table border="1" class="table">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.customId }}</td>
                            <td>{{ item.inventory.title }}</td>
                            <td>
                                {#  <a href="{{ path('app_inventory_item_show', {'id': item.id}) }}">show</a>#}
                                <a href="{{ path('app_inventory_item_edit', {
                                    'id': item.id,
                                    'inventoryId': item.inventory.id
                                }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No items</p>
            {% endif %}

        <br>
        <a href="/">Back</a>
    </div>
{% endblock %}
